body {
  font-family: sans-serif;
  background-color: #fdfdfd;
}

.profile-page {
  padding: 2rem;

  .hero {
    margin-bottom: 2rem;
  }

  .stack ul {
    list-style-type: '🧩 ';
    padding-left: 1.5rem;
  }

  section {
    margin-bottom: 2rem;
  }
}
